<!doctype html>
<html>
<head>
    <title>moviematchmaker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-7s/CzocWKIdgTcTzP8T9naH9J+d3qN/folQWccUBgSTsTpF/lYJwT+LcT40Tf9XO+3Jex3KVmIc+Zm/sJ0zHw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/504ea75c01.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
<div>

    
    <a href="/logout">Logout</a>
    
    <div>
        <!-- LOCAL INFORMATION -->
        <div>
            <div>
                <h3><%= user.local.email %></h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>
                    <a href="/unlink/local">unlink</a>

                <% } else { %>
                    <a href="/signup">signup</a>
                    <a href="/login">login</a>
                <% } %>

            </div>
        </div>
        <div>
          <h2>search movie</h2>
          <form action="/search/:mov" method="POST">
            <input type="text" id="movie" placeholder="message" name="mov">
            <button type="submit" id="">Submit</button>
          </form>
          <% if (thisTitle) { %>
            <p><%= thisTitle %></p>
          <% } %>
          <% if (thisOver) { %>
            <p><%= thisOver %></p>
            <form action="/mine/:movie" method="POST">
              <input type="hidden" value="<%= thisTitle %>" name="myMov">
              <input type="hidden" value="<%= thisOver %>" name="myOver">
              <button type="submit" id="addMov"><i class="fa fa-heart" aria-hidden="true"></i></button>
            </form>
            <% } %>
          
        <% if (user.local.email) { %>
          <h3>my movies</h3>
          <ul>
            <% for(var i=0; i<myMovies.length; i++) {%>
              <li>
                <span><%= myMovies[i].title %></span>
                <span><%= myMovies[i].over %></span>
              </li>
            <% } %>
            </ul>

        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
